## Main Code

In [ ]:
import mysql.connector
import time

def run_query_and_measure_time(
    host="localhost", #192.168.31.37
    database="computer_shop",
    user="root",
    password="1234",
    query='',
):
    start_time = time.time()

    try:
        conn = mysql.connector.connect(
            host=host,
            database=database,
            user=user,
            password=password
        )
        cursor = conn.cursor()

        cursor.execute(query)
        rows = cursor.fetchall()

    except mysql.connector.Error as err:
        print(f"Error: {err}")
        rows = []

    finally:
            cursor.close() # type: ignore
            conn.close() # type: ignore

    end_time = time.time()
    elapsed_time = end_time - start_time

    print(f"Time taken: {elapsed_time} seconds - {len(rows)} rows")
    return elapsed_time

In [ ]:
#1
run_query_and_measure_time(query='''
SELECT
    c.customer_id,
    c.name AS customer_name,
    c.phone_number,
    COUNT(o.order_id) AS total_orders,
    SUM(pt.amount) AS total_spent
FROM
    customer c
JOIN
    orders o ON c.customer_id = o.customer_id
LEFT JOIN
    paymenttransaction pt ON o.order_id = pt.order_id
GROUP BY
    c.customer_id, c.name, c.phone_number
ORDER BY
    total_spent DESC;
''')

In [ ]:
#2
run_query_and_measure_time(query='''
SELECT
    p.product_code,
    p.name AS product_name,
    b.name AS brand_name,
    c.title AS category_title,
    AVG(pf.rating) AS average_rating,
    COUNT(pf.feedback_id) AS feedback_count
FROM
    product p
JOIN
    brand b ON p.brand_id = b.id
JOIN
    category c ON p.category_id = c.category_id
JOIN
    productfeedback pf ON p.product_code = pf.product_code
GROUP BY
    p.product_code, p.name, b.name, c.title
HAVING
    AVG(pf.rating) >= 4
ORDER BY
    average_rating DESC;
''')

In [ ]:
#3
run_query_and_measure_time(query='''
WITH StaffInventoryProducts AS (
    SELECT
        il.staff_id,
        il.product_code,
        COUNT(il.log_id) AS inventory_updates_for_product
    FROM inventorylog il
    JOIN staff s ON il.staff_id = s.staff_id
    WHERE s.is_active = TRUE
    GROUP BY il.staff_id, il.product_code
),
ProductSalesMetrics AS (
    SELECT
        oi.product_code,
        SUM(oi.qty * oi.price_at_purchase) AS total_value,
        COUNT(DISTINCT o.order_id) AS total_orders
    FROM orderitem oi
    JOIN orders o ON oi.order_id = o.order_id
    WHERE o.order_status IN ('Delivered', 'Processing')
    GROUP BY oi.product_code
)
SELECT
    s.staff_id,
    s.name AS staff_name,
    s.position,
    SUM(sip.inventory_updates_for_product) AS inventory_updates,
    COALESCE(SUM(psm.total_value), 0) AS total_order_value,
    COALESCE(SUM(psm.total_orders), 0) AS total_orders_handled
FROM staff s
LEFT JOIN StaffInventoryProducts sip ON s.staff_id = sip.staff_id
LEFT JOIN ProductSalesMetrics psm ON sip.product_code = psm.product_code
WHERE s.is_active = TRUE
GROUP BY s.staff_id, s.name, s.position;
''')

In [ ]:
#4
run_query_and_measure_time(query='''
SELECT 
    pm.pay_method_id,
    pm.pay_method,
    pm.company_handle,
    COUNT(pt.transaction_id) AS transaction_count,
    COALESCE(SUM(pt.amount), 0) AS total_amount,
    COUNT(DISTINCT CASE WHEN pt.status = 'Completed' THEN pt.transaction_id END) AS completed_transactions
FROM paymentmethod pm
LEFT JOIN paymenttransaction pt ON pm.pay_method_id = pt.pay_method_id
WHERE pm.is_enable = TRUE
GROUP BY pm.pay_method_id, pm.pay_method, pm.company_handle
ORDER BY total_amount DESC;
''')

In [ ]:
#5
run_query_and_measure_time(query='''
SELECT 
    p.promotion_id,
    p.title AS promotion_title,
    p.discount_type,
    p.discount_value,
    COUNT(DISTINCT pp.product_code) AS products_affected,
    COALESCE(SUM(oi.qty * oi.price_at_purchase), 0) AS total_sales_under_promotion
FROM promotion p
LEFT JOIN productpromotion pp ON p.promotion_id = pp.promotion_id
LEFT JOIN orderitem oi ON pp.product_code = oi.product_code
LEFT JOIN orders o ON oi.order_id = o.order_id AND o.order_status = 'Delivered'
WHERE p.start_date <= CURRENT_TIMESTAMP AND p.end_date >= CURRENT_TIMESTAMP
GROUP BY p.promotion_id, p.title, p.discount_type, p.discount_value;
''')

In [ ]:
#6
run_query_and_measure_time(query='''
SELECT 
    p.product_code,
    p.name AS product_name,
    AVG(pf.rating) AS average_rating,
    COUNT(pf.feedback_id) AS feedback_count,
    COUNT(DISTINCT pf.customer_id) AS unique_customers
FROM product p
LEFT JOIN productfeedback pf ON p.product_code = pf.product_code
GROUP BY p.product_code, p.name
HAVING feedback_count > 0
ORDER BY average_rating DESC;
''')

In [ ]:
#7
run_query_and_measure_time(query='''
SELECT
    cat.category_id,
    cat.title AS category_name,
    SUM(oi.qty * oi.price_at_purchase) AS total_category_revenue
FROM
    orderitem oi
JOIN
    product p ON oi.product_code = p.product_code
JOIN
    category cat ON p.category_id = cat.category_id
GROUP BY
    cat.category_id, cat.title
ORDER BY
    total_category_revenue DESC;
''')

In [ ]:
#8
run_query_and_measure_time(query='''
SELECT
    o.order_id,
    o.order_date,
    o.order_status,
    c.customer_id,
    c.name AS customer_name,
    c.phone_number AS customer_phone,
    a.street_line,
    a.commune,
    a.district,
    a.province
FROM
    orders o
JOIN
    customer c ON o.customer_id = c.customer_id
JOIN
    address a ON o.address_id = a.address_id
WHERE
    o.order_status = 'Pending';
''')

In [ ]:
#10
run_query_and_measure_time(query='''
SELECT
    p.product_code,
    p.name AS product_name,
    p.stock_quantity,
    p.last_restock_date,
    s.name AS supplier_name -- Adding supplier name for more context
FROM
    product p
LEFT JOIN
    productsupplier ps ON p.product_code = ps.product_code
LEFT JOIN
    supplier s ON ps.supplier_id = s.supplier_id
WHERE
    p.stock_quantity < 10
ORDER BY
    p.stock_quantity ASC, p.last_restock_date DESC;
''')

In [ ]:
#9
run_query_and_measure_time(query='''
SELECT
    p.name,
    p.product_code,
    TotalQuantitySold
FROM
    product p
JOIN
    (SELECT
        product_code,
        SUM(qty) AS TotalQuantitySold
    FROM
        orderitem
    GROUP BY
        product_code
    ) AS Sales
ON
    p.product_code = Sales.product_code
ORDER BY
    TotalQuantitySold DESC
LIMIT 5;
''')

In [2]:
import mysql.connector
from mysql.connector import Error
import time

def delete_orders_in_batches(batch_size=10000):
    try:
        conn = mysql.connector.connect(
            host='localhost',
            user='root',
            password='1234',
            database='computer_shop',
            autocommit=False  # control commit manually
        )
        cursor = conn.cursor()

        total_deleted = 0
        last_deleted_id = 3000  # start after this ID

        while True:
            # Select next batch of IDs greater than last_deleted_id
            cursor.execute(
                "SELECT order_id FROM orders WHERE order_id > %s ORDER BY order_id ASC LIMIT %s",
                (last_deleted_id, batch_size)
            )
            rows = cursor.fetchall()
            if not rows:
                print("✅ No more rows to delete.")
                break

            ids_to_delete = [row[0] for row in rows]
            min_id = ids_to_delete[0]
            max_id = ids_to_delete[-1]

            # Delete rows in this ID range
            delete_query = "DELETE FROM orders WHERE order_id BETWEEN %s AND %s"
            
            try:
                cursor.execute(delete_query, (min_id, max_id))
                conn.commit()
                deleted_count = cursor.rowcount
                total_deleted += deleted_count
                last_deleted_id = max_id
                print(f"Deleted {deleted_count} rows; total deleted: {total_deleted}")

            except mysql.connector.errors.DatabaseError as e:
                # Handle lock wait timeout or deadlock errors
                if e.errno in (1205, 1213):  # Lock wait timeout or deadlock
                    print(f"Lock timeout/deadlock detected, retrying batch after short wait...")
                    conn.rollback()
                    time.sleep(1)
                    continue
                else:
                    raise

            time.sleep(0.1)  # small pause to reduce lock contention

        print(f"✅ Finished deleting. Total rows deleted: {total_deleted}")

    except Error as e:
        print(f"Error: {e}")

    finally:
        try:
            cursor.close() # type: ignore
            conn.close() # type: ignore
        except:
            pass

delete_orders_in_batches()

Deleted 10000 rows; total deleted: 10000
Deleted 10000 rows; total deleted: 20000
Deleted 10000 rows; total deleted: 30000
Deleted 10000 rows; total deleted: 40000
Deleted 10000 rows; total deleted: 50000
Deleted 10000 rows; total deleted: 60000
Deleted 10000 rows; total deleted: 70000
Deleted 10000 rows; total deleted: 80000
Deleted 10000 rows; total deleted: 90000
Deleted 10000 rows; total deleted: 100000
Deleted 10000 rows; total deleted: 110000
Deleted 10000 rows; total deleted: 120000
Deleted 10000 rows; total deleted: 130000
Deleted 10000 rows; total deleted: 140000
Deleted 10000 rows; total deleted: 150000
Deleted 10000 rows; total deleted: 160000
Deleted 10000 rows; total deleted: 170000
Deleted 10000 rows; total deleted: 180000
Deleted 10000 rows; total deleted: 190000
Deleted 10000 rows; total deleted: 200000
Deleted 10000 rows; total deleted: 210000
Deleted 10000 rows; total deleted: 220000
Deleted 10000 rows; total deleted: 230000
Deleted 10000 rows; total deleted: 240000
Deleted 10000 rows; total deleted: 250000
Deleted 10000 rows; total deleted: 260000
Deleted 10000 rows; total deleted: 270000
Deleted 10000 rows; total deleted: 280000
Deleted 10000 rows; total deleted: 290000
Deleted 10000 rows; total deleted: 300000
Deleted 10000 rows; total deleted: 310000
Deleted 10000 rows; total deleted: 320000
Deleted 10000 rows; total deleted: 330000
Deleted 10000 rows; total deleted: 340000
Deleted 10000 rows; total deleted: 350000
Deleted 10000 rows; total deleted: 360000
Deleted 10000 rows; total deleted: 370000
Deleted 10000 rows; total deleted: 380000
Deleted 10000 rows; total deleted: 390000
Deleted 10000 rows; total deleted: 400000
Deleted 10000 rows; total deleted: 410000
Deleted 10000 rows; total deleted: 420000
Deleted 10000 rows; total deleted: 430000
Deleted 10000 rows; total deleted: 440000
Deleted 10000 rows; total deleted: 450000
Deleted 10000 rows; total deleted: 460000
Deleted 10000 rows; total deleted: 470000
Deleted 10000 rows; total deleted: 480000
Deleted 10000 rows; total deleted: 490000
Deleted 10000 rows; total deleted: 500000
Deleted 10000 rows; total deleted: 510000
Deleted 10000 rows; total deleted: 520000
Deleted 10000 rows; total deleted: 530000
Deleted 10000 rows; total deleted: 540000
Deleted 10000 rows; total deleted: 550000
Deleted 10000 rows; total deleted: 560000
Deleted 10000 rows; total deleted: 570000
Deleted 10000 rows; total deleted: 580000
Deleted 10000 rows; total deleted: 590000
Deleted 10000 rows; total deleted: 600000
Deleted 10000 rows; total deleted: 610000
Deleted 10000 rows; total deleted: 620000
Deleted 10000 rows; total deleted: 630000
Deleted 10000 rows; total deleted: 640000
Deleted 10000 rows; total deleted: 650000
Deleted 10000 rows; total deleted: 660000
Deleted 10000 rows; total deleted: 670000
Deleted 10000 rows; total deleted: 680000
Deleted 10000 rows; total deleted: 690000
Deleted 10000 rows; total deleted: 700000
Deleted 10000 rows; total deleted: 710000
Deleted 10000 rows; total deleted: 720000
Deleted 10000 rows; total deleted: 730000
Deleted 10000 rows; total deleted: 740000
Deleted 10000 rows; total deleted: 750000
Deleted 10000 rows; total deleted: 760000
Deleted 10000 rows; total deleted: 770000
Deleted 10000 rows; total deleted: 780000
Deleted 10000 rows; total deleted: 790000
Deleted 10000 rows; total deleted: 800000
Deleted 10000 rows; total deleted: 810000
Deleted 10000 rows; total deleted: 820000
Deleted 10000 rows; total deleted: 830000
Deleted 10000 rows; total deleted: 840000
Deleted 10000 rows; total deleted: 850000
Deleted 10000 rows; total deleted: 860000
Deleted 10000 rows; total deleted: 870000
Deleted 10000 rows; total deleted: 880000
Deleted 10000 rows; total deleted: 890000
Deleted 10000 rows; total deleted: 900000
Deleted 10000 rows; total deleted: 910000
Deleted 10000 rows; total deleted: 920000
Deleted 10000 rows; total deleted: 930000
Deleted 10000 rows; total deleted: 940000
Deleted 10000 rows; total deleted: 950000
Deleted 10000 rows; total deleted: 960000
Deleted 10000 rows; total deleted: 970000
Deleted 10000 rows; total deleted: 980000
Deleted 10000 rows; total deleted: 990000
Deleted 10000 rows; total deleted: 1000000
Deleted 10000 rows; total deleted: 1010000
Deleted 10000 rows; total deleted: 1020000
Deleted 10000 rows; total deleted: 1030000
Deleted 10000 rows; total deleted: 1040000
Deleted 10000 rows; total deleted: 1050000
Deleted 10000 rows; total deleted: 1060000
Deleted 10000 rows; total deleted: 1070000
Deleted 10000 rows; total deleted: 1080000
Deleted 10000 rows; total deleted: 1090000
Deleted 10000 rows; total deleted: 1100000
Deleted 10000 rows; total deleted: 1110000
Deleted 10000 rows; total deleted: 1120000
Deleted 10000 rows; total deleted: 1130000
Deleted 10000 rows; total deleted: 1140000
Deleted 10000 rows; total deleted: 1150000
Deleted 10000 rows; total deleted: 1160000
Deleted 10000 rows; total deleted: 1170000
Deleted 10000 rows; total deleted: 1180000
Deleted 10000 rows; total deleted: 1190000
Deleted 10000 rows; total deleted: 1200000
Deleted 10000 rows; total deleted: 1210000
Deleted 10000 rows; total deleted: 1220000
Deleted 10000 rows; total deleted: 1230000
Deleted 10000 rows; total deleted: 1240000
Deleted 10000 rows; total deleted: 1250000
Deleted 10000 rows; total deleted: 1260000
Deleted 10000 rows; total deleted: 1270000
Deleted 10000 rows; total deleted: 1280000
Deleted 10000 rows; total deleted: 1290000
Deleted 10000 rows; total deleted: 1300000
Deleted 10000 rows; total deleted: 1310000
Deleted 10000 rows; total deleted: 1320000
Deleted 10000 rows; total deleted: 1330000
Deleted 10000 rows; total deleted: 1340000
Deleted 10000 rows; total deleted: 1350000
Deleted 10000 rows; total deleted: 1360000
Deleted 10000 rows; total deleted: 1370000
Deleted 10000 rows; total deleted: 1380000
Deleted 10000 rows; total deleted: 1390000
Deleted 10000 rows; total deleted: 1400000
Deleted 10000 rows; total deleted: 1410000
Deleted 10000 rows; total deleted: 1420000
Deleted 10000 rows; total deleted: 1430000
Deleted 10000 rows; total deleted: 1440000
Deleted 10000 rows; total deleted: 1450000
Deleted 10000 rows; total deleted: 1460000
Deleted 10000 rows; total deleted: 1470000
Deleted 10000 rows; total deleted: 1480000
Deleted 10000 rows; total deleted: 1490000
Deleted 10000 rows; total deleted: 1500000
Deleted 10000 rows; total deleted: 1510000
Deleted 10000 rows; total deleted: 1520000
Deleted 10000 rows; total deleted: 1530000
Deleted 10000 rows; total deleted: 1540000
Deleted 10000 rows; total deleted: 1550000
Deleted 10000 rows; total deleted: 1560000
Deleted 10000 rows; total deleted: 1570000
Deleted 10000 rows; total deleted: 1580000
Deleted 10000 rows; total deleted: 1590000
Deleted 10000 rows; total deleted: 1600000
Deleted 10000 rows; total deleted: 1610000
Deleted 10000 rows; total deleted: 1620000
Deleted 10000 rows; total deleted: 1630000
Deleted 10000 rows; total deleted: 1640000
Deleted 10000 rows; total deleted: 1650000
Deleted 10000 rows; total deleted: 1660000
Deleted 10000 rows; total deleted: 1670000
Deleted 10000 rows; total deleted: 1680000
Deleted 10000 rows; total deleted: 1690000
Deleted 10000 rows; total deleted: 1700000
Deleted 10000 rows; total deleted: 1710000
Deleted 10000 rows; total deleted: 1720000
Deleted 10000 rows; total deleted: 1730000
Deleted 10000 rows; total deleted: 1740000
Deleted 10000 rows; total deleted: 1750000
Deleted 10000 rows; total deleted: 1760000
Deleted 10000 rows; total deleted: 1770000
Deleted 10000 rows; total deleted: 1780000
Deleted 10000 rows; total deleted: 1790000
Deleted 10000 rows; total deleted: 1800000
Deleted 10000 rows; total deleted: 1810000
Deleted 10000 rows; total deleted: 1820000
Deleted 10000 rows; total deleted: 1830000
Deleted 10000 rows; total deleted: 1840000
Deleted 10000 rows; total deleted: 1850000
Deleted 10000 rows; total deleted: 1860000
Deleted 10000 rows; total deleted: 1870000
Deleted 10000 rows; total deleted: 1880000
Deleted 10000 rows; total deleted: 1890000
Deleted 10000 rows; total deleted: 1900000
Deleted 10000 rows; total deleted: 1910000
Deleted 10000 rows; total deleted: 1920000
Deleted 10000 rows; total deleted: 1930000
Deleted 10000 rows; total deleted: 1940000
Deleted 10000 rows; total deleted: 1950000
Deleted 10000 rows; total deleted: 1960000
Deleted 10000 rows; total deleted: 1970000
Deleted 10000 rows; total deleted: 1980000
Deleted 10000 rows; total deleted: 1990000
Deleted 10000 rows; total deleted: 2000000
Deleted 10000 rows; total deleted: 2010000
Deleted 10000 rows; total deleted: 2020000
Deleted 10000 rows; total deleted: 2030000
Deleted 10000 rows; total deleted: 2040000
Deleted 10000 rows; total deleted: 2050000
Deleted 10000 rows; total deleted: 2060000
Deleted 10000 rows; total deleted: 2070000
Deleted 10000 rows; total deleted: 2080000
Deleted 10000 rows; total deleted: 2090000
Deleted 10000 rows; total deleted: 2100000
Deleted 10000 rows; total deleted: 2110000
Deleted 10000 rows; total deleted: 2120000
Deleted 10000 rows; total deleted: 2130000
Deleted 10000 rows; total deleted: 2140000
Deleted 10000 rows; total deleted: 2150000
Deleted 10000 rows; total deleted: 2160000
Deleted 10000 rows; total deleted: 2170000
Deleted 10000 rows; total deleted: 2180000
Deleted 10000 rows; total deleted: 2190000
Deleted 10000 rows; total deleted: 2200000
Deleted 10000 rows; total deleted: 2210000
Deleted 10000 rows; total deleted: 2220000
Deleted 10000 rows; total deleted: 2230000
Deleted 10000 rows; total deleted: 2240000
Deleted 10000 rows; total deleted: 2250000
Deleted 10000 rows; total deleted: 2260000
Deleted 10000 rows; total deleted: 2270000
Deleted 10000 rows; total deleted: 2280000
Deleted 10000 rows; total deleted: 2290000
Deleted 10000 rows; total deleted: 2300000
Deleted 10000 rows; total deleted: 2310000
Deleted 10000 rows; total deleted: 2320000
Deleted 10000 rows; total deleted: 2330000
Deleted 10000 rows; total deleted: 2340000
Deleted 10000 rows; total deleted: 2350000
Deleted 10000 rows; total deleted: 2360000
Deleted 10000 rows; total deleted: 2370000
Deleted 10000 rows; total deleted: 2380000
Deleted 10000 rows; total deleted: 2390000
Deleted 10000 rows; total deleted: 2400000
Deleted 10000 rows; total deleted: 2410000
Deleted 10000 rows; total deleted: 2420000
Deleted 10000 rows; total deleted: 2430000
Deleted 10000 rows; total deleted: 2440000
Deleted 10000 rows; total deleted: 2450000
Deleted 10000 rows; total deleted: 2460000
Deleted 10000 rows; total deleted: 2470000
Deleted 10000 rows; total deleted: 2480000
Deleted 10000 rows; total deleted: 2490000
Deleted 10000 rows; total deleted: 2500000
Deleted 10000 rows; total deleted: 2510000
Deleted 10000 rows; total deleted: 2520000
Deleted 10000 rows; total deleted: 2530000
Deleted 10000 rows; total deleted: 2540000
Deleted 10000 rows; total deleted: 2550000
Deleted 10000 rows; total deleted: 2560000
Deleted 10000 rows; total deleted: 2570000
Deleted 3007 rows; total deleted: 2573007
✅ No more rows to delete.
✅ Finished deleting. Total rows deleted: 2573007